<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymleaf.org "
      layout:decorate="~{home}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="style">
    <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">
</th:block>
<th:block layout:fragment="content">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Welcome to user cabinet page <a class="float-right" href="/home"> Home</a></h4>
    </div>

    <form th:object="${user}"/>
    <div class="card mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">User information</h6>
        </div>
        <div class="card-body">
            <p sec:authentication="principal.fish"></p>
            <p sec:authentication="principal.fan"></p>
            <p sec:authentication="principal.username"></p>
            <p sec:authentication="principal.age"></p>
            <!--     <p th:text="${user.birthday}"></p>
                 <p th:text="${user.createBy}"></p>-->
        </div>

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Contact information</h6>
        </div>
        <div class="card-body">
            <p sec:authentication="principal.email"></p>
            <p sec:authentication="principal.phone"></p>
            <p sec:authentication="principal.address"></p>
        </div>

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Work information</h6>
        </div>
        <div class="card-body">
            <p sec:authentication="principal.office"></p>
            <p sec:authentication="principal.position"></p>
        </div>
    </div>
</th:block>
</html>