<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymleaf.org ">

<link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

<!-- Custom styles for this template-->
<link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">

<body>
<div class="container">


    <div class="card-header py-3 mt-4">
        <h4 class="m-0 font-weight-bold text-primary">Welcome to user client info page
            <a class="float-right " href="/home"> Home</a>
            <a th:href="@{/client/course/{id}(id=${client.id})}" class="float-right btn btn-light mr-3" >Client Courses</a>
        </h4>
    </div>
    <div class="card mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Client information</h6>
        </div>
        <div class="card-body">
                        <table class="table table-hover">
                <tr>
                    <td class="font-weight-bold "> Full Name</td>
                    <td th:text="${client.fullName}"></td>
                </tr>
                <tr>
                    <td class="font-weight-bold ">Address</td>
                    <td th:text="${client.address}"></td>
                </tr>
                <tr>
                    <td class="font-weight-bold ">Birthday</td>
                    <td th:text="${client.birthday}"></td>
                </tr>
                <tr>
                    <td class="font-weight-bold ">Age</td>
                    <td th:text="${client.age}"></td>
                </tr>
            </table>
        </div>
        <h2 class="text-center">Diagnos</h2>
        <ul class="list-group">
            <li class="list-group-item">
                <tr>
                    <td><p>Cause:</p></td>
                    <td><p th:text="${client.cause}"></p></td>
                </tr>
            </li>
            <li class="list-group-item">
                <tr>
                    <td><p>Doctor Diagnos:</p></td>
                    <td><p th:text="${client.diagnos}"></p></td>
                </tr>
            </li>
            <li class="list-group-item">
                <tr>
                    <td><p>Recommended:</p></td>
                    <td> <p class="" th:text="${client.recommended}"></p></td>
                </tr>
            </li>
            <li class="list-group-item ">
                <tr>
                    <td><p>Date:</p></td>
                    <td><p class="alert alert-danger w-25" th:text="${client.createdAt}"></p></td>
                </tr>
            </li>
        </ul>

        <div class="card-header py-3 text-center">
            <h6 class="fa fa-info m-0 font-weight-bold text-primary">Contact information</h6>
        </div>
        <div class="card-body">
            <div class="row offset-2">
                <div class="col-md-6">
                    <i class="fa fa-phone-square">Phone number: </i>
                    <pre th:text="${client.phoneNumber}"></pre>
                </div>
                <div class="col-md-6">
                    <i class="fa fa-at" aria-hidden="true">Email Address: </i>
                    <p th:text="${client.email}"></p>
                </div>
            </div>

        </div>


    </div>
</div>
</div>
</body>
</html>