<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymleaf.org "
      xmlns:sec="http://www.thymleaf.org/thymeleaf-extras-springsecurity5"
>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Client List Page</title>

    <!-- Custom fonts for this template -->
    <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link href="/assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>


</head>

<div class="container-fluid">
    <div class="container-fluid">
        <a href="/client/add" class="btn btn-link m-5"> Add new Client</a>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <!--  <a href="/cabinet" class="btn-link d-block">Cabinet Page</a>-->
                <h6 class="m-3 font-weight-bold  text-primary">Client All List</h6>

                <div class="input-group ">
                    <input id="${client.fullName}" type="text" class="form-control bg-light  small w-25" placeholder="Search for..."
                       >
                    <div class="input-group-append">
                        <button onclick="searchfunc()" id="search" class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body" th:each="img : ${image}">
                <img th:src="@{/client/attachmentImg}" >
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Full name</th>
                            <th>Age</th>
                            <th>Address</th>
                            <th>Birthday</th>
                            <th>Phone number</th>
                            <th>Email</th>
                            <th>Cause</th>
                            <th>Diagnos</th>
                            <th>Recommend</th>
                            <th>Register date</th>
                            <th>Optionals</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="client : ${client}">
                            <td th:text="${client.id}"></td>
                            <td th:text="${client.fullName}"></td>
                            <td th:text="${client.age}"></td>
                            <td th:text="${client.address}"></td>
                            <td th:text="${client.birthday}"></td>
                            <td th:text="${client.phoneNumber}"></td>
                            <td th:text="${client.email}"></td>
                            <td th:text="${client.cause}"></td>
                            <td th:text="${client.diagnos}"></td>
                            <td th:text="${client.recommended}"></td>
                            <td th:text="${client.createdAt}" ></td>
                            <td>
                                <a th:href="@{/client/delete/{id}(id=${client.id})}" class="btn btn-danger">Delete</a>
                                <a th:href="@{/client/update/{id}(id=${client.id})}" class="btn btn-success">Edit</a>
                                <a th:href="@{/client/info/{id}(id=${client.id})}" class="btn btn-info">Client info</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <a href="/home" class="navbar-link">go to home page</a>
            </div>
        </div>
    </div>


</div>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/jquery.min.js"></script>
<script type="text/javascript">

   function searchfunc() {
       alert("Kechirasiz texnik sabablarga ko'ra qidiruv tizimi ishga tayyor emas!")
   }

</script>

</html>
