<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymleaf.org "
      xmlns:sec="http://www.thymleaf.org/thymeleaf-extras-springsecurity5"
>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Client List Page</title>

    <!-- Custom fonts for this template -->
    <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/jquery.min.js"></script>

</head>

<div class="container-fluid">
    <div class="container-fluid">
        <a href="/client/add" class="btn btn-link m-5"> Add new Client</a>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <!--  <a href="/cabinet" class="btn-link d-block">Cabinet Page</a>-->
                <h6 class="m-3 font-weight-bold  text-primary">Client All List</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Full name</th>
                            <th>Age</th>
                            <th>Address</th>
                            <th>Birthday</th>
                            <th>Phone number</th>
                            <th>Email</th>
                            <th>Cause</th>
                            <th>Diagnos</th>
                            <th>Recommend</th>
                            <th>Register date</th>
                            <th>Optionals</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="client : ${client}">
                            <td th:text="${client.id}"></td>
                            <td th:text="${client.fullName}"></td>
                            <td th:text="${client.age}"></td>
                            <td th:text="${client.address}"></td>
                            <td th:text="${client.birthday}"></td>
                            <td th:text="${client.phoneNumber}"></td>
                            <td th:text="${client.email}"></td>
                            <td th:text="${client.cause}"></td>
                            <td th:text="${client.diagnos}"></td>
                            <td th:text="${client.recommended}"></td>
                            <td th:text="${client.createdAt}" ></td>
                            <td>
                                <a th:href="@{/client/delete/{id}(id=${client.id})}" class="btn btn-danger">Delete</a>
                                <a th:href="@{/client/update/{id}(id=${client.id})}" class="btn btn-success">Edit</a>
                                <!-- Button trigger modal -->
                                <button type="button" class=" m-2 btn btn-primary" data-toggle="modal"
                                        data-target="#exampleModal">
                                    Course +
                                </button>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                                <form class="user" th:action="@{/client/course}" method="post">
                                                    <input type="text" th:value="${client.id}">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                  id="fullName">Full Name</span>
                                                        </div>
                                                        <input th:value="${client.fullName}" required name="fullName"
                                                               type="text" class="form-control" aria-label="fullName"
                                                               aria-describedby="inputGroup-sizing-default">
                                                    </div>

                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="age">Age</span>
                                                        </div>
                                                        <input th:value="${client.age}" required name="age"
                                                               type="number" class="form-control" aria-label="age"
                                                               aria-describedby="inputGroup-sizing-default">
                                                    </div>

                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="address">Address</span>
                                                        </div>
                                                        <input th:value="${client.address}" required name="address"
                                                               type="text" class="form-control" aria-label="address"
                                                               aria-describedby="inputGroup-sizing-default">
                                                    </div>

                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="birthday">Birthday</span>
                                                        </div>
                                                        <input th:value="${client.birthday}" required name="birthday"
                                                               type="date" class="form-control" aria-label="birthday"
                                                               aria-describedby="inputGroup-sizing-default">
                                                    </div>


                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="cause">Cause</span>
                                                        </div>
                                                        <textarea th:text="${client.cause}" required name="cause"
                                                                  type="text" class="form-control" aria-label="cause"
                                                                  aria-describedby="inputGroup-sizing-default"></textarea>
                                                    </div>

                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="diagnos">Diagnos</span>
                                                        </div>
                                                        <textarea th:text="${client.diagnos}" required name="diagnos"
                                                                  type="text" class="form-control" aria-label="diagnos"
                                                                  aria-describedby="inputGroup-sizing-default"></textarea>
                                                    </div>

                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"
                                                                  id="recommended">Recommend</span>
                                                        </div>
                                                        <textarea th:text="${client.recommended}" required
                                                                  name="recommended" type="text" class="form-control"
                                                                  aria-label="recommended"
                                                                  aria-describedby="inputGroup-sizing-default"></textarea>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                                            Save
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <a href="/home" class="navbar-link">go to home page</a>
            </div>
        </div>
    </div>


</div>


</html>
