<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymleaf.org "
      xmlns:sec="http://www.thymleaf.org/thymeleaf-extras-springsecurity5"
>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stamatalogiya </title>

    <!-- Custom fonts for this template -->
    <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/jquery.min.js"></script>

</head>


    <div class="container-fluid">
        <a href="/sign/up" sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-link m-5"> Add new Employee</a>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <!--  <a href="/cabinet" class="btn-link d-block">Cabinet Page</a>-->
                <h6 class="m-3 font-weight-bold  text-primary">Employees All List</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>F.I.SH</th>
                            <th>Fan nomi</th>
                            <th>Ish tajribasi</th>
                            <th>Muvaffaqiyatlari</th>
                            <th>Video dars linki</th>
                            <th>Talabani qidirish hududi</th>
                            <th>Kurs narxi</th>
                            <th>Dars vaqtlari</th>
                            <th>Kurs o'tish joyi</th>
                            <th>Telefon telegram no'meri</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Tahlil qilish</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="employee : ${newEmployee}">
                            <td th:text="${employee.fish}"></td>
                            <td th:text="${employee.fan}"></td>
                            <td th:text="${employee.tajribasi}"></td>
                            <td th:text="${employee.muvaffaqiyat}"></td>
                            <td th:text="${employee.youtobelink}"></td>
                            <td th:text="${employee.talabahududi}"></td>
                            <td th:text="${employee.narxi}"></td>
                            <td th:text="${employee.vaqtlari}"></td>
                            <td th:text="${employee.kursjoyi}"></td>
                            <td th:text="${employee.telefon}"></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                <a  th:href="@{/employee/delete/{id}(id=${employee.id})}"  class="btn btn-danger">Delete</a>
                                <a  th:href="@{/employee/update/{id}(id=${employee.id})}"  class="btn btn-info">Edit</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <a href="/home" class="navbar-link">go to home page</a>
            </div>
        </div>



        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Ma'lumotlaringgizni kiriting</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form class="user" th:action="@{/client/save}" method="post">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="fullName">Full Name</span>
                                </div>
                                <input required name="fullName" type="text" class="form-control" aria-label="fullName" aria-describedby="inputGroup-sizing-default">
                            </div>
app
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="age">Age</span>
                                </div>
                                <input required name="age" type="number" class="form-control" aria-label="age" aria-describedby="inputGroup-sizing-default">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="address">Address</span>
                                </div>
                                <input required name="address" type="text" class="form-control" aria-label="address" aria-describedby="inputGroup-sizing-default">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="birthday">Birthday</span>
                                </div>
                                <input required name="birthday" type="date" class="form-control" aria-label="birthday" aria-describedby="inputGroup-sizing-default">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="phoneNumber">Phone number</span>
                                </div>
                                <input required name="phoneNumber" type="text" class="form-control" aria-label="phoneNumber" aria-describedby="inputGroup-sizing-default">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="email">Email</span>
                                </div>
                                <input name="email" type="email" class="form-control" aria-label="email" aria-describedby="inputGroup-sizing-default">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="cause">Cause</span>
                                </div>
                                <textarea required name="cause" type="text" class="form-control" aria-label="cause" aria-describedby="inputGroup-sizing-default"></textarea>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="diagnos">Diagnos</span>
                                </div>
                                <textarea required name="diagnos" type="text" class="form-control" aria-label="diagnos" aria-describedby="inputGroup-sizing-default"></textarea>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="recommended">Recommend</span>
                                </div>
                                <textarea required name="recommended" type="text" class="form-control" aria-label="recommended" aria-describedby="inputGroup-sizing-default"></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary btn-user btn-block">Save</button>
                        </form>

                </div>
            </div>
        </div>
    </div>


</div>
</html>
