<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymleaf.org "
      xmlns:sec="http://www.thymleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add new Clients</title>

    <!-- Custom fonts for this template-->
    <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-2  mt-5 ">

                    <table class="table table-condensed table-info table-hover text-hover ">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Size Kb</th>
                            <th>Content type</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="img : ${img}">
                            <td th:text="${img.content}"></td>
                            <td th:text="${img.name}"></td>
                            <td th:text="${img.size}"></td>
                            <td th:text="${img.contentType}"></td>
                        </tr>
                        </tbody>
                    </table>


        </div>
    </div>
</div>

<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/assets/js/sb-admin-2.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/jquery.min.js"></script>
</body>
</html>