<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Update Clients</title>

    <!-- Custom fonts for this template-->
    <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">


    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <!--    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>-->
                <div class="col-lg-6 offset-2">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Add new Client!</h1>
                        </div>
                        <form class="user" th:action="@{/client/edit}" method="post">
                            <input hidden type="text" id="id" name="id"  th:value="${uClient.id}">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="fullName">Full Name</span>
                                </div>
                                <input th:value="${uClient.fullName}" required name="fullName" type="text" class="form-control" aria-label="fullName" aria-describedby="inputGroup-sizing-default">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="age">Age</span>
                                </div>
                                <input th:value="${uClient.age}" required name="age" type="number" class="form-control" aria-label="age" aria-describedby="inputGroup-sizing-default">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="address">Address</span>
                                </div>
                                <input th:value="${uClient.address}" required name="address" type="text" class="form-control" aria-label="address" aria-describedby="inputGroup-sizing-default">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="birthday">Birthday</span>
                                </div>
                                <input th:value="${uClient.birthday}" required name="birthday" type="date" class="form-control" aria-label="birthday" aria-describedby="inputGroup-sizing-default">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="phoneNumber">Phone number</span>
                                </div>
                                <input th:value="${uClient.phoneNumber}" required name="phoneNumber" type="text" class="form-control" aria-label="phoneNumber" aria-describedby="inputGroup-sizing-default">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="email">Email</span>
                                </div>
                                <input th:value="${uClient.email}" name="email" type="email" class="form-control" aria-label="email" aria-describedby="inputGroup-sizing-default">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="cause">Cause</span>
                                </div>
                                <textarea th:text="${uClient.cause}" required name="cause" type="text" class="form-control" aria-label="cause" aria-describedby="inputGroup-sizing-default"></textarea>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="diagnos">Diagnos</span>
                                </div>
                                <textarea th:text="${uClient.diagnos}" required name="diagnos" type="text" class="form-control" aria-label="diagnos" aria-describedby="inputGroup-sizing-default"></textarea>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="recommended">Recommend</span>
                                </div>
                                <textarea th:text="${uClient.recommended}" required name="recommended" type="text" class="form-control" aria-label="recommended" aria-describedby="inputGroup-sizing-default"></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary btn-user btn-block">Save</button>
                        </form>
                        <hr>
                        <a href="/client/list" class="percentage">◀Cancel </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/assets/js/sb-admin-2.min.js"></script>

</body>

</html>
